@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: Gilroy, sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
    background: rgba(146, 161, 255, 0.3) url("../img/background.png") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
p.bold {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.header-nav {
    min-width: 600px;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul li a {
    transition: 0.3s ease-in-out;
}

.header-nav ul li a:hover {
    color: dodgerblue;
}

.header-btn {
    background: transparent;
    padding: 0.7rem 2rem;
    border: 2px solid #999;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

.header-btn:hover {
    background: #fff;
}

.hamburger-btn {
    outline: none !important;
    font-size: 2rem;
}

.footer-icons a {
    margin: 0.5rem;
}

.footer-icons a img {
    transition: 0.3s ease-in-out;
    filter: grayscale(1);
}

.footer-icons a img:hover {
    filter: grayscale(0);
}

.left-content {
    width: 80%;
}

.left-content h1 {
    font-size: 3.2rem;
}
.left-content h3 {
    font-size: 1.8rem;
}
.paragraph:first-letter {
    margin-left: 2rem;
}
.paragraph {
    text-align: justify;
}
.use-content ul{
    list-style: none;
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
}
.use-content-img{
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
}
.use-content-img img{
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.table td p{
    font-weight: 600;
}
.table-width{
    width: 75%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #fff url("../img/background.png") 0 0 no-repeat;
    overflow-x: hidden;
    filter: brightness(0.95);
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: dodgerblue;
    background-color: rgba(255, 255, 255, 0.15);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 36px;
    margin-left: 50px;
    padding-right: 20px;
    line-height: 2rem;
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .left-content {
        width: 100%;
    }

    .left-content h1 {
        font-size: 2rem;
        text-align: center;
    }

    .left-content h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    .use-content-img{
        width: 100%;
        padding: 2rem;
    }
    .use-content-img img{
        width: 100%;
    }
    .table-width{
        width: 96%;
    }
}